<%- include('../includes/head.ejs'); %>
<% if (rol == "Administrador") { %>
<h1>hola</h1>
<% }  else if (rol == "Cliente") { %>
    <h1 class="title is-1 has-text-white-ter">No puedes entrar aquí.</h1>
   
  <% } %>
<%- include('../includes/foot.ejs'); %>