<%- include('../includes/head.ejs'); %>
    <div class="container" >
        <h1 class="title is-1 has-text-white-ter">Contenido</h1>
        <div class="card">
            <header class="card-header" style="background-color: aqua;">
              <p class="card-header-title">
                Alimentos
              </p>
            </header>

              </div>
          </div>
      </div>
