<%- include('../includes/head.ejs'); %>
    <div class="container" >
        <h1 class="title is-1 has-text-white-ter">Contenido</h1>
        <div class="card">
            <header class="card-header" style="background-color: aqua;">
              <p class="card-header-title">
                Ejercicios
              </p>
            </header>
            <div class="box">

            </div>

              </div>
              <br><br><br><br><br>
              <div class="buttons">
              <button class="button is-primary">Seleccionar Dieta</button>
              <a href="/rutinas/" class="button is-danger">Atrás</a>
            </div>
          </div>

<%- include('../includes/foot.ejs'); %>