<!DOCTYPE html>
<html>
<head>
    <title>Pagina web navegable</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
      .navbar-item:hover, .navbar-link:hover, .navbar-dropdown{
        background-color: rgb(20, 20, 20) !important;
        color:rgb(31, 93, 240)
      }
      .card {
        background-color: rgb(58, 58, 58);
        height:100%;
      }
      .mi-color-personalizado {
        background-color: hsl(222, 87%, 53%);
      }
      .navbar-item, .navbar-link, .navbar-dropdown{
        color:rgb(216, 216, 216);
      }
      html{
        background-color: #101112;
      }
      input::placeholder {
          opacity: 0.5;
          color: rgb(255, 255, 255) !important;
      }

      input[type="date"], input[type="text"], input[type="number"], input:hover, select {
        color: white;
        background-color : #464646; 
        border-style: none;

      }

      select {
        background-color: #464646; 
        color: #ffffff;
      }

      table input.is-rounded {
        color: white;
        background-color : #464646; 
        border-style: none;
      }

      table {
        width: 100%;
        background-color: #17191B;
      }

      .navbar{
        background-color: #242527;
      }
      
      body
      {
        min-height: 100vh;
      }
      * { 
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }
      .popup {
        width: 400px;
        background: #2c2c2c;
        border-radius: 6px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color: #ffffff;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
        z-index: 10;
      }
      .popup button {
        color: #ffffff;
        background: #4a4a4a;
        border: 0;
        outline: 0;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      }
      .open-popup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
      }
      .notification button.delete {
        margin-top: 15px;
        margin-right: 15px;
      }
      .star{
        position: absolute;
        z-index: 1;
      }
      .ima{
        width: 45px;
        height: 46px;
      }
      .yt-video{
        color: white;
        text-decoration: underline;
      }
      .yt-video:hover {
        color: rgb(148, 148, 148);
      }
      .notif {
        width: 50%;
        border-radius: 6px;
        position: fixed;
        top: 10%;
        left: 50%;
        opacity: 0;
        text-align: center;
        padding: 10px;
        color: #ffffff;
        background-color: #dc3545;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0s 0.4s;
        z-index: 10;
      }

      .open-noti {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.4s, visibility 0s;
      }
      .select-customizado select {
        background-color: hsl(0, 0%, 14%);
        border-radius: 290486px;
        color: #ffffff;
        border: 1px solid #dbdbdb;
      }

      .select-customizado select:focus {
        outline: none;
        border-color: #3273dc;
        box-shadow: 0 0 0.5em rgba(50, 115, 220, 0.25);
      }

      .custom-button {
          background-color: transparent;
          border: none;
          text-align: right;
          cursor: pointer;
      }

    </style>
</head>
<body>
  <% if ( isLoggedIn){ %>
    <% if (rol == "Cliente") { %>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/home">
            <img src="https://picsum.photos/112/28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
          <div id="navbarBasicExample " class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item " href="/home">
                <span class="material-symbols-outlined">
                  clinical_notes <!--No Borrar esta palabra-->
                  </span>
                  Bitacora
              </a>

              <a class="navbar-item" href="/dietas">
                <span class="material-symbols-outlined">
                  restaurant <!--No Borrar esta palabra-->
                  </span>
                Dietas
                <!-- <img class="ima" src="/Menu_Dietas.png" alt="Dietas" style="height: 48px; width: 50px;"> -->
              </a>

              <a class="navbar-item" href="/rutinas">
                <span class="material-symbols-outlined">
                  avg_time <!--No Borrar esta palabra-->
                  </span>
                Rutinas
                <!-- <img class="ima" src="/Menu_workout.png" alt="Rutinas"style="margin-top:3px; margin-left:5px"> -->
              </a>

        
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link has-background" style="background-color:#242527 ;">
                <span class="material-symbols-outlined">
                  monitoring <!--No Borrar esta palabra-->
                  </span>
                Mediciones
              </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item " href="/medidas">
                    Registrar medidas
                  </a>
                  <a class="navbar-item" href="/progreso">
                  Progreso
                </a>
               </div>
              </div>
            </div>

        
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button" href = "/perfil">
                    <img src = https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png>
                  </a>
                </div>
              </div>
            </div>
          </div>
      </nav>
      <% } else if (rol == "Administrador") { %>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/home">
              <img src="https://picsum.photos/112/28">
            </a>
        
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start ">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link has-background" style="background-color: #242527;">
                  <span class="material-symbols-outlined">
                    restaurant <!--No Borrar esta palabra-->
                    </span>  
                  Dietas
                </a>
        
                <div class="navbar-dropdown ">
                  <a class="navbar-item" href="/dietas/agregar">
                    <span class="material-symbols-outlined">
                      monitor_weight_gain
                      </span>
                    Agregar dietas
                  </a>
                  <a class="navbar-item" href="/dietas">
                    Todas las dietas
                  </a>
                </div>
              </div>
              
        
              <div class="navbar-item has-dropdown is-hoverable ">
                <a class="navbar-link has-background" style="background-color: #242527;">
                  <span class="material-symbols-outlined">
                    avg_time <!--No Borrar esta palabra-->
                    </span>
                  Rutinas
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item " href = "/rutinas/agregar">
                    Agregar rutinas
                  </a>
                  <a class="navbar-item" href="/rutinas">
                    Todas las rutinas
                  </a>
                </div>
              </div>
  
              <div class="navbar-item has-dropdown is-hoverable ">
                <a class="navbar-link has-background" style="background-color: #242527;">
                  <span class="material-symbols-outlined">
                    exercise
                    </span>
                  Ejercicios
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item " href = "/ejercicios/agregar_ejercicios">
                    Agregar ejercicios
                  </a>
                  <a class="navbar-item" href="/ejercicios">
                    Todos los ejercicios
                  </a>
                </div>
              </div>
  
              <div class="navbar-item has-dropdown is-hoverable ">
                <a class="navbar-link has-background" style="background-color: #242527;">
                  <span class="material-symbols-outlined">
                    supervisor_account
                    </span>
                  Roles
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item " href = "/roles/agregar">
                    Agregar roles
                  </a>
                  <a class="navbar-item" href="/roles">
                    Todas los roles
                  </a>
                </div>
              </div>
            </div>
        
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button" href = "/perfil/ver-info">
                    <img src = https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      <% } %>
        <% } else if (!isLoggedIn){ %>
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="https://picsum.photos/112/28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            
          <div id="navbarBasicExample" class="navbar-menu">      
            <div class="navbar-end">
                <div class="buttons">
                  <a class="button is-info" href="/registrarse">
                    <strong>Registrarse</strong>
                  </a>
                  <a class="button is-light" href="/iniciar-sesion" style="margin-right: 35px;">
                    Iniciar Sesión
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
          <% } %>
    <div class="container">
