<%- include('../includes/head.ejs'); %>
<br>
<h1 class="title is-1 has-text-white-ter has-text-centered">Agregar Alimento</h1>
    <form action="/alimentos/agregar_alimentos" method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <label for="nombre"> <h5 class="title is-5 has-text-white-ter">Nombre:</h5></label> <br>
            <input required name="nombre" id="nombre" class="input is-rounded" type="text" placeholder="Platano, Manzana, Pollo" maxlength="25">
    <br><br><br>
    <label for="medida">
        <h5 class="title is-5 has-text-white-ter">Medida:</h5>
      </label>
      <br>
      <div class="select is-rounded">
        <select name="medida" id="medida">
                <option value="Kilogramos">Kilogramos</option>
                <option value="Gramos">Gramos</option>
                <option value="Miligramos">Miligramos</option>
                <option value="Onzas">Onzas</option>
                <option value="Libras">Libras</option>
                <option value="Piezas">Piezas</option>
                <option value="Tazas">Tazas</option>
                <option value="Gramos">Gramos</option>
                <option value="Litros">Litros</option>
                <option value="Mililitros">Mililitros</option>
        </select>
      </div>
    <br><br><br>
            <input class="button is-rounded is-success" type="submit" value="Agregar" >
    </form>
    <br>
    
<%- include('../includes/foot.ejs'); %>