
<%- include('../includes/head.ejs'); %>
<br>
<h1 class="title has-text-white-ter">Modificar ejercicio</h1>
<form action="/ejercicios/editar" method="POST">
<input type="hidden" name="id" value="<%= ejercicio.id_ejercicio %>" >
 
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <label for="descripcion"> <h5 class="title is-5 has-text-white-ter">Descripción:</h5></label> <br>
            <input required name="descripcion" id="descripcion" class="input is-rounded" type="text" placeholder="">
    <br><br><br>
            <label for="video_ejercicio"> <h5 class="title is-5 has-text-white-ter">Liga de video explicativo:  </label> <br> <br>
            <input name="video_ejercicio" id="video_ejercicio" class="input is-rounded" type="text" placeholder="">

    <br><br><br>
            <input class="button is-rounded is-success" type="submit" value="Actualizar">
    </form>
    <br><br>
        <form action="/ejercicios" method="GET">
            <button type="submit" class="button is rounded is-danger has-text-white-ter">Cancelar</button>
          </form>
<%- include('../includes/foot.ejs'); %>