<%- include('../includes/head.ejs'); %>
<h1 class="title is-1 has-text-white-ter">DATOS PERSONALES</h1>
<form action="/informacion" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
  
  <div class="box">
        <div class="field">
            <label class="label" for="sexo">Selecciona tú Sexo</label>
            <div class="control">
                <div class="select">
                    <select id="sexo" name="sexo">
                    <option disabled selected>Selecciona una opción</option>
                    <option>M</option>
                    <option>F</option>
                    </select>
                </div>
                </div>
            </div>
            <div class="field">
                <label class="label" for="obj">Elige tu Objetivo</label>
                <div class="select is-primary">
                     <select name="obj" id="obj">
                        <% for(let objetivo of objetivos){ %>
                            <option value="<%=objetivo.id_obj %>">
                                <%=objetivo.nombre_obj %>
                            </option>

                        <%}%>
                     </select>
                </div>
            </div>
        <div class="field">
            <label class="label" for="fecha_nacimiento">Fecha de Nacimiento</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
        </div>
        <input class="button is-primary" type="submit" value="REGISTRAR">
    </div>
    
</form>
