<%- include('../includes/head.ejs'); %>
<style>
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  .form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  .columns {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;

  }
  .box {
    background-color: #242424;
    padding: 2rem;
    border-radius: 8px;
    width: 50%;
  }
  .title {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .column {
    padding: 0.5rem;
  }
  .field.is-grouped {
    justify-content: center;
  }
  .form-section {
    margin-top: 1rem;
    text-align: center;
  }
</style>

<div class="hero is-fullheight">
  <div class="hero-body is-justify-content-center is-align-items-center">
    <div class="columns is-flex is-flex-direction-column box">
      <form action="/iniciar-sesion" method="POST">
        <span class="title" style="color: antiquewhite;">Iniciar Sesión</span>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

        <br><br>

        <div class="column">
          <label for="id_login" class="label" style="color: antiquewhite;">Username :</label>
          <input style="border: 1.5px solid rgba(31, 93, 240, 0.7);" class="input is-info" type="text" id="nombre_usuario" name="nombre_usuario">
        </div>

        <div class="column">
          <label for="contrasena" class="label" style="color: antiquewhite;">Password :</label>
          <input style="border: 1.5px solid rgba(31, 93, 240, 0.7);" class="input is-info" type="password" id="contrasena" name="contrasena">
        </div>

        <br>
        <% if (mensaje) { %>
          <div class="notification is-danger" style="max-width:100%;">  
              <strong><%= mensaje %></strong>
          </div>
      <% } %>
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-info">Enviar</button>
          </div>
          <div class="control">
            <a href="/"><button type="button" class="button is-link is-light"><strong> Cancelar</strong></button></a>
          </div>
        </div>

      </form>

      <br>
      <div class="form-section">
        <p>No tienes una cuenta? <a href="/registrarse">Regístrate aquí</a></p>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/foot.ejs'); %>