<%- include('../includes/head.ejs'); %>
<h1 class="title is-1 has-text-white-ter">REGISTRATE</h1>
<form action="/registrarse" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
  <div class="box">
    <div class="field">
      <label class="label">Nombre(s)</label>
      <div class="control">
        <input required name="nombre" id="nombre" class="input" type="text" placeholder="Escribe tu(s) nombre(s)">
      </div>
    </div>
    
    <div class="field">
      <label class="label">Apellido(s)</label>
      <div class="control">
        <input name="apellido" id="apellido"  class="input" type="text" placeholder="Escribe tu(s) apellido(s)">
      </div>
    </div>

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input required name="nombre_usuario" id="nombre_usuario" class="input" type="text" placeholder="Nombre de Usuario">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input required name="correo" id="correo" class="input" type="email" placeholder="e.g. alex@example.com">
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input required name="contrasena" id="contrasena"  class="input" type="password" placeholder="********">
      </div>
    </div>
    <input class="button is-primary" type="submit" value="REGISTRAR">
    <a href="/" class="button is-danger">CANCELAR</a>

  </div>
</form>

<%- include('../includes/foot.ejs'); %>